* {
    box-sizing: border-box;
    margin: 0;
    list-style: none;
    padding: 0;
    font-weight: normal;
    font-size: 14px;
    text-align: center;
    font-family: Verdana;
}

header {
    background-color: #6aa355;
    color: white;
}

header h1 {
    cursor: pointer;
}

header h1:hover {
    color: darkolivegreen;
}

.full-recipe {
    border: 1px solid #cccccc;
    margin: 20px;
    box-shadow: 0px 0px 10px rgba(85, 83, 83, 0.35);
}

.full-recipe .image {
    height: 350px;
    background-size: cover;
    background-position: center center;
    background-color: darkolivegreen;
}

.full-recipe h3 {
    font-size: 20px;
    padding: 15px;
    color: #6aa355;
}

.full-recipe .rec-description {
    font-size: 17px;
}

.full-recipe p {
    padding: 0 15px 15px 15px;
}

.full-recipe .creator-link {
    padding-bottom: 15px;
    color: darkolivegreen;
    text-decoration: underline;
    cursor: pointer;
}

.full-recipe h4 {
    font-size: 18px;
    padding-top: 15px;
    padding-bottom: 10px;
    color: #6aa355;
}

.full-recipe .ingredients { 
    color: rgb(63, 62, 62);
}

.full-recipe .ingredients * {
    padding: 5px;
}

.full-recipe .directions {
    color: rgb(63, 62, 62);
    margin-left: 20px;
    margin-right: 20px;
}

.full-recipe .directions * {
    padding: 5px;
}

.tag-container {
    margin: 10px 20px 20px 20px;
}

.tag-container .tag {
    background-color: darkgray;
    color: white;
    padding: 3px 7px 3px 7px;
    margin: 0 10px 10px 10px;
    border-radius: 5px;
    display: block;
}

.tag-container .category {
    background-color: darkolivegreen;
}

.add-comment-title {
    font-size: 20px;
    padding-top: 20px;
}

.add-comment-button {
    margin-top: 15px;
    border: 0px;
    background-color: #6aa355;
    color: white;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
}

.comments {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
}

@media screen and (min-width: 650px) {
    .comments {
        flex-direction: row;
    }
}

.comment {
    border: 1px solid #cccccc;
    flex-basis: 30%;
    margin: 10px;
    box-shadow: 0px 0px 10px rgba(85, 83, 83, 0.35);
}

.comment .response-img {
    height: 200px;
    background-size: cover;
    background-position: center center;
    background-color: lightgreen;
}

.comment .comment-poster {
    padding-top: 15px;
    color: darkolivegreen;
    text-decoration: underline;
    cursor: pointer;
}

.comment p {
    padding: 15px 15px 15px 15px;
}

