* {
    box-sizing: border-box;
    margin: 0;
    list-style: none;
    padding: 0;
    font-weight: normal;
    font-size: 14px;
    text-align: center;
    font-family: Verdana;
}

header {
    background-color: #6aa355;
    color: white;
}

header h1 {
    cursor: pointer;
}

header h1:hover {
    color: darkolivegreen;
}

.filter-nav {
    background-color: lightgray;
}

.filter-nav .category-form {
    background-color: darkolivegreen;
    padding-top: 15px;
    padding-bottom: 15px;
    color: white;
}

.filter-nav .category-form label {
    margin-right: 5px;
}

.filter-nav .category-form select {
    padding: 5px;
    border-radius: 5px;
}

.filter-nav .dietary {
    margin: 20px;
    padding-top: 10px;
    padding-right: 15px;
    padding-left: 15px;
}

.filter-nav .dietary label {
    padding: 15px;
}

.filter-nav .dietary input {
    padding: 5px;
}

.filter-nav .explore-submit {
    padding: 3px;
    margin-bottom: 10px;
    border: 0px;
    border-radius: 5px;
    color: white;
    background-color: #6aa355;
}

.explore h2 {
    font-size: 23px;
    padding: 20px;
    color: #6aa355;
}

.recipes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
}

@media screen and (min-width: 750px) {
    .recipes {
        flex-direction: row;
    }
}

.recipe {
    border: 1px solid #cccccc;
    flex-basis: 30%;
    margin: 20px;
    box-shadow: 0px 0px 10px rgba(85, 83, 83, 0.35);
    cursor: pointer;
}

.recipe .image {
    height: 250px;
    background-size: cover;
    background-position: center center;
    background-color: darkolivegreen;
}

.recipe h3 {
    font-size: 15px;
    padding: 15px;
}

.recipe .user-link {
    padding-bottom: 15px;
    color: darkolivegreen;
    text-decoration: underline;
    cursor: pointer;
}

.recipe p {
    padding: 0 15px 15px 15px;
}

.tag-container {
    margin: 10px 25px 20px 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.tag-container .tag {
    background-color: darkgray;
    color: white;
    padding: 3px;
    margin: 10px;
    border-radius: 5px;
    flex-basis: 30%;
}

.tag-container .category {
    background-color: darkolivegreen;
}