* {
    box-sizing: border-box;
    margin: 0;
    list-style: none;
    padding: 0;
    font-weight: normal;
    font-size: 14px;
    text-align: center;
    font-family: Verdana;
}

header {
    background-color: #6aa355;
    color: white;
}

header h1 {
    font-size: 25px;
    cursor: pointer;
}

header h1:hover {
    color: darkolivegreen;
}

h2 {
    font-size: 20px;
    padding: 20px;
    color: #6aa355;  
}

.add-comment form {
    border-color: black;
    border-radius: 2px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.35);
    border: 1px;
    margin: 10px 30px 20px 30px;
    padding: 20px;
}

.add-comment form * {
    margin: 10px;
    padding: 2px;
}

.add-comment input {
    padding: 5px;
}

.add-comment .comment-submit {
    border-radius: 5px;
    border: 0px;
    background-color: #6aa355;
    color: white;
    padding: 5px;
}