* {
    box-sizing: border-box;
    margin: 0;
    list-style: none;
    padding: 0;
    font-weight: normal;
    font-size: 14px;
    text-align: center;
    font-family: Verdana;
}

header, main {
    padding: 20px;
}

header {
    background-color: darkgray;
    color: white;
}

header h1 {
    font-size: 25px;
    cursor: pointer;
}

header h1:hover {
    color: darkolivegreen;
}

h2 {
    font-size: 17px;
    padding: 20px;  
}

.add-comment form {
    border: 1px darkgray solid;
    margin: 10px 20px 20px 20px;
}

.add-comment form * {
    margin: 10px;
    padding: 2px;
}