* {
    box-sizing: border-box;
    margin: 0;
    list-style: none;
    padding: 0;
    font-weight: normal;
    font-size: 14px;
    text-align: center;
    font-family: Verdana;
}

header {
    background-color: #6aa355;
    color: white;
}

header h1 {
    cursor: pointer;
}

header h1:hover {
    color: darkolivegreen;
}

.user-title {
    color: #6aa355;
    font-size: 20px;
    padding: 20px;
}

.user-recipes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
}

@media screen and (min-width: 700px) {
    .user-recipes {
        flex-direction: row;
    }
}

.user-recipes .recipe {
    border: 1px solid #cccccc;
    box-shadow: 0px 0px 10px rgba(85, 83, 83, 0.35);
    flex-basis: 30%;
    margin: 20px;
    cursor: pointer;
}

.user-recipes .recipe .image {
    height: 250px;
    background-size: cover;
    background-position: center center;
    background-color: darkolivegreen;
}

.user-recipes .recipe h3 {
    font-size: 17px;
    padding: 15px;
}

.user-recipes .recipe p {
    padding: 0 15px 15px 15px;
}

.recipe .delete-rec {
    margin: 10px;
}

.tag-container {
    margin: 10px 20px 20px 20px;
}

.tag-container .tag {
    background-color: darkgray;
    color: white;
    padding: 3px 7px 3px 7px;
    margin: 0 10px 10px 10px;
    border-radius: 5px;
    display: block;
}

.tag-container .category {
    background-color: darkolivegreen;
}

.user-comments {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
}

@media screen and (min-width: 650px) {
    .user-comments {
        flex-direction: row;
    }
}

.user-comments .comment {
    border: 1px solid #cccccc;
    box-shadow: 0px 0px 10px rgba(85, 83, 83, 0.35);
    flex-basis: 30%;
    margin: 10px;
    cursor: pointer;
}

.user-comments .comment .response-img {
    height: 200px;
    background-size: cover;
    background-position: center center;
    background-color: lightgreen;
}

.user-comments .comment p {
    padding: 15px 15px 15px 15px;
}

.comment .delete-com {
    margin: 10px;
}