* {
    box-sizing: border-box;
    margin: 0;
    list-style: none;
    padding: 0;
    font-weight: normal;
    font-size: 14px;
    text-align: center;
    font-family: Verdana;
}

header, main {
    padding: 20px;
}

header {
    background-color: darkgray;
    color: white;
}

header h1 {
    font-size: 25px;
}

.error {
    color: darkred;
}

.sign-up {
    margin: 20px;
}

.sign-up h2 {
    padding: 20px;
    font-size: 18px;
}

.sign-up form * {
    margin: 5px;
}

.sign-up form {
    border: solid darkgray 1px;
    padding: 20px;
}